body{
  background-color: lightblue;
}
#gespa{
  width: auto;
  height:1000px;
  background-color: lightgreen;
  position: relative;
  top: 700px;
}

@keyframes flor {
  0% {transform: rotate(0deg); }
  100%{transform: rotate(360deg);}
}

#flor{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: purple;
  position: absolute;
  top: 450px;
  left: 800px;
  animation: flor 4s infinite linear;
}

.petalo{
  width: 100px;
  height: 120px;
  background-color: red;
  border-radius: 0% 100% 0% 100%;
  position: relative;

}

#p1{
  top: -120px;
  left: -100px;
}

#p2{
  top: -95px;
  left: 25px;
}

#p3{
  top: -350px;
  left: 35px;
  transform: rotate(-90deg);
}


#p4{
  top: -340px;
  left: -110px;
  transform: rotate(90deg);
}

.palo{
  height:300px;
  width: 25px;
  background-color: green;
  position: absolute;
  top: 495px;
  left:805px;
  z-index: 1;
}

#bolita{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: purple;
  position: absolute;
  top: 440px;
  left: 790px;
}
