*{
  margin: 0;
  padding: 0;
}
body{
  background-color: silver;
}
#contenedor{
  background-color: LightBlue;
  width: 800px;
  height: 400px;
  margin: 0 auto;
}

#menu{
  background-color: #33FFFF ;
  height:100px;
  width: 480px;
  margin:0 auto;

}

.izq{
  background-color: Violet;
  width: 400px;
  height: 400px;
  padding: 0 auto;
  float: left;

}

.der{
  background-color: #33C4FF;
  width: 400px;
  height: 400px;
  padding: 0 auto;
  float: left;

}

#footer{
  background-color: LightBlue;
  height: 100px;
  margin: 0 auto;
  clear:both;
}


  #uno{
    background-color: #D733FF;
  }
  #dos{
    background-color: #3333FF;
  }

  #tres{
    background-color: #D733FF;
  }

  #cuatro{
    background-color: #3333FF;
  }

.boletes{
  width: 100px;
  height: 100px;
  background-color: yellow;
  border-radius: 50px;
  float: left;
  margin-right: 10px;
}

.boletes:hover{
  opacity: 0.5;
}

ul{
  list-style-type: none;
  width: 400px;
  margin: 0 auto;
}

li a{
  text-decoration: none;
  display: block;
  padding: 20px;
  background-color: #FF334F;
  color: white;
  float: left;
  text-align: center;
}

li a:hover{
  background-color: white;
  color: black;
}
